.conversacion {
  height: 77px;
  padding-left: 82px;
  padding-top: 24px;
  cursor: pointer;
  position: relative;
}
.conversacion:hover {
  background-color: #d1d1d1;
}
.conversacion-nombre {
  font-family: OpenSans-SemiBold;
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 5px;
}
.conversacion-email {
  font-family: OpenSans-SemiBold;
  font-size: 16px;
  margin: 0;
  color: #3f82c4;
}
.conversacion-imagen {
  height: 48px;
  width: 48px;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  background-color: #e5ddd5;
}
.conversacion-imagen > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.conversacion-sinleer {
  position: absolute;
  left: 45px;
  bottom: 23px;
  font-family: "OpenSans-Regular";
  font-size: 17px;
  background-color: #e94639;
  color: #fff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  z-index: 1000;
}
.conversacion-sinleer > label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
