.home {
  width: 100vw;
  height: 100vh;
  background-color: #ececec;
}
.home-body {
  width: 90%;
  height: 95%;
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 3vw;
  padding-right: 3vw;
}
.home-left {
  width: 20%;
  min-width: 250px;
  position: relative;
  padding-top: 55px;
  padding-bottom: 55px;
}
.home-left-conversaciones {
  overflow-y: scroll;
  height: 100%;
}
.home-logout {
  width: 100%;
  height: 55px;
  border: none;
  border-top: 2px solid #4082c4;
  font-family: "OpenSans-SemiBold";
  font-size: 14px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: #fff;
  cursor: pointer;
  color: #4082c4;
}
.home-right {
  width: 80%;
  background-color: #e5ddd5;
}
.home-right-with-map {
  display: grid;
  grid-template-columns: 50% 50%;
}
.home-buscar {
  width: 92%;
  height: 42px;
  border: none;
  border-radius: 10px;
  font-family: OpenSans-Regular;
  font-size: 14px;
  padding-left: 53px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  background-color: #fff;
  color: #4082c4;
}
.home-buscar-img {
  position: absolute;
  top: 8px;
  left: 15px;
  width: 26px;
}
.home-conversacion-elegida {
  background-color: #b2b3b3;
}

/* PORTRAIT */
@media screen and (max-width: 500px) and (max-aspect-ratio: 13/9) {
  .home {
    position: fixed;
    height: 100%;
  }
  .home-left {
    width: 100%;
  }
  .home-right {
    width: 100%;
  }
}

/*MOBILE PORTRAIT CON KEYBOARD*/
@media screen and (max-height: 400px) and (max-width: 400px) {
  .home {
    position: fixed;
    height: 100%;
  }
  .home-left {
    width: 100%;
  }
  .home-right {
    width: 100%;
  }
}

/*MOBILE LANDSCAPE*/
@media screen and (max-height: 500px) and (max-width: 800px) and (min-width: 500px) {
  .home-body {
    top: 0;
    transform: translateX(-50%);
    height: 95%;
  }
  .home-left {
    width: 100%;
  }
  .home-right {
    width: 100%;
  }
}

/*MOBILE LANDSCAPE CON KEYBOARD*/
@media screen and (max-height: 120px) and (max-width: 800px) {
  .home-body {
    top: 0;
    transform: translateX(-50%);
    height: 95%;
  }
  .home-left {
    width: 100%;
  }
  .home-right {
    width: 100%;
  }
}
